:root{
    --primary-color:#008080;
    --bcg-color:#f5f5f5;
    --padding:20px;
    --text-color:#fff;
    --border-rad:5px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    position:relative;  
}

header{
    background-color: var(--primary-color);
    padding:var(--padding);
    color:var(--text-color);
    text-align: center;
}
header h1{
    font-size: 36px;

}
main{
    min-height:79vh;
    padding:var(--padding);
    background-color: var(--bcg-color);
    max-width:800px;
    margin:0 auto;  
}
main form{
    display:flex;
    justify-content: center;

}
form input[type="text"], form button[type="submit"]{
   border:none;
   font-size:16px;
   font-weight:500;
   border-radius: var(--border-rad);
   padding:calc(var(--padding)/2);
}
form input[type="text"]{
    flex-grow: 1;
}
form button[type="submit"]{
    background-color:var(--primary-color);
    color:var(--text-color);
    margin-left:10px;
    cursor:pointer;
}
/* footer part */
footer{
    background-color: var(--primary-color);
    color:var(--text-color);
    padding:var(--padding);
    text-align: center;
    font-size:18px;
    position:sticky;
    width:100%;
    z-index:999;

}

/* result div part */
.result{
    background-color: #fff;
    padding:var(--padding);
    border-radius: var(--border-rad);
    margin-top:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    min-height:10vh;
}
.result p{
    margin-top:10px;
}
.result p[class="partofspeech"]{
    font-style:italic;
    color:#808080;
    margin-top:2px;
}
.result button{
    margin-top:5px;
    border:1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius:50px;
    padding:3px 12px;
    transition:all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
.result button a{
    text-decoration: none;
    font-size:14px;
    color:black;
    font-weight: 600;
    transition:all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
 .result button:hover{
    background-color: var(--primary-color);
    border:1px solid var(--primary-color);
}
.result button a:hover{
    color:white;
}
.result p[class="syns"]{
    margin-bottom:5px;
}